* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Poppins", sans-serif;
    background-color: #0f172a;
    color: white;
}

nav {
    width: 100%;
    height: 90px;
    padding: 1rem 5%;
    background: rgb(255, 255, 255, 0.05);
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    margin-bottom: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #38bdf8;
    letter-spacing: 1px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a {
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: #e2e8f0;
}

.nav-links li a:hover {
    color: #38bdf8;
    text-shadow: 0 0 10px #38bdf8;
}

.btns {
    display: flex;
}

.btn {
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    background: #38bdf8;
    border: none;
    border-radius: 30px;
    color: #0f172a;
    font-size: 1rem;
    box-shadow: 0 0 15px #38bdf8;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #38bdf8;
    box-shadow: 0 0 25px #38bdf8;
}




/* Hamburger bars */
/* ===============================
   Responsive Hamburger & Side Menu
=============================== */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 1000;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #38bdf8;
    border-radius: 5px;
    transition: 0.3s;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}

.side-menu {
    position: fixed;
    top: 0;
    right: -250px;
    /* hidden by default */
    width: 250px;
    height: 100vh;
    background: rgba(15, 23, 42, 0.95);
    padding-top: 80px;
    /* below navbar */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transition: right 0.4s ease;
    z-index: 999;
}

.side-menu.active {
    right: 0;
}

.side-menu ul {
    list-style: none;
    padding-left: 0;
}

.side-menu ul li a {
    text-decoration: none;
    color: #e2e8f0;
    font-size: 1.2rem;
}

/* Mobile only */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .btns {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}